vendor/
helper/
weixin/WeChatRobot/Debug/
weixin/Debug/
weixin/.vs/
weixin/WeChatRobot/Release/
daimeng.log
.idea/
weixin/WeChatRobot/WxUserLists.txt
weixin/Release/WeChatRobot.pdb
weixin/Release/log.txt
weixin/Release/debug.log
go.mod
go.sum
xiaodaimeng.db
weixin/wechat-bot-3.4.7.66/
scpWinserver.bat
